.form-control {
    margin: .5rem 0;
  }
  
  .form-control, .form-control > label {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    width: 600px;
    margin: 0 auto;
  }
  
  .form-control__message.error {
    color: red;
  }
  